<%= turbo_frame_tag 'form_frame' do %>
    <%= form_with scope: :user_input, url: calendars_path, method: :post, local: true, data: { turbo_frame: "form_frame" }, class: "space-y-4 md:space-y-6" do |form| %>

        <div class="flex-1">
            <%= form.label :uni, 'University', class: "block text-md md:text-lg font-medium text-gray-800" %>
            <%= form.select :uni,
                            uni_options,
                            { prompt: 'Select university' },
                            data: {
                                controller: "form-updates",
                                action: "change->form-updates#updateForm",
                                frame_id: "form_frame"
                            },
                            id: "uni_select",
                            class: "mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-base md:text-md",
                            value: uni,
                            disabled: uni.present?

            %>
        </div>

        <% if year_options&.any? %>
            <div class="flex-1">
                <%= form.label :year, 'JMP Year', class: "block text-md md:text-lg font-medium text-gray-800" %>
                <%= form.select :year,
                                year_options,
                                { prompt: 'Select JMP Year' },
                                data: {
                                    controller: "form-updates",
                                    action: "change->form-updates#updateForm",
                                    frame_id: "form_frame"
                                },
                                id: "year_select",
                                class: "mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-base md:text-md",
                                value: year,
                                disabled: year.present?
                %>
            </div>

            <% if spreadsheet_options&.any? %>
                <div class="flex-1">
                    <%= form.label :spreadsheet, 'Timetable spreadsheet', class: "block text-md md:text-lg font-medium text-gray-800" %>
                    <%= form.select :spreadsheet,
                                    spreadsheet_options,
                                    { prompt: 'Select a timetable' },
                                    data: {
                                        controller: "form-updates",
                                        action: "change->form-updates#updateForm",
                                        frame_id: "form_frame"
                                    },
                                    id: "spreadsheet_select",
                                    class: "mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-base md:text-md",
                                    value: spreadsheet,
                                    disabled: spreadsheet.present?
                    %>
                </div>

                <% if pbl_options&.any? %>
                    <div class="flex-1">
                        <%= form.label :pbl, 'PBL Group', class: "block text-md md:text-lg font-medium text-gray-800" %>
                        <%= form.select :pbl,
                                        pbl_options,
                                        { prompt: 'Select a PBL' },
                                        data: {
                                            controller: "form-updates",
                                            action: "change->form-updates#updateForm",
                                            frame_id: "form_frame"
                                        },
                                        id: "pbl_select",
                                        class: "mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-base md:text-md"
                        %>
                    </div>
                <% end  %>

                <% if clin_options&.any? %>
                    <div class="flex-1">
                        <%= form.label :clin, 'Clin Skills Group', class: "block text-md md:text-lg font-medium text-gray-800" %>
                        <%= form.select :clin,
                                        clin_options,
                                        { prompt: 'Select a CLIN' },
                                        data: {
                                            controller: "form-updates",
                                            action: "change->form-updates#updateForm",
                                            frame_id: "form_frame"
                                        },
                                        id: "clin_select",
                                        class: "mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-base md:text-md"
                        %>
                    </div>
                <% end  %>
            <% end  %>
        <% end %>

        <div class="flex justify-center">
        <%= form.submit "Submit", class: "mt-3 w-full md:w-auto px-6 py-2 border border-transparent shadow-sm text-base md:text-md font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
        </div>

    <% end %>
<% end %>
