<div class="w-1/2 h-min mx-4 mt-28 bg-gray-50 shadow-lg rounded-lg p-6 md:p-8">
  <h2 class="text-center text-3xl md:text-4xl font-bold text-gray-800 mb-6 md:mb-8">Get Your Timetable</h2>
  <p class="text-gray-600">Generate an <strong>ics</strong> file which can be imported into any calendar app (<a href="https://support.google.com/calendar/answer/37118?hl=en&co=GENIE.Platform%3DDesktop" class="ml-auto text-blue-500 hover:text-blue-600 underline">Gmail</a>, <a href="https://support.microsoft.com/en-au/office/import-or-subscribe-to-a-calendar-in-outlook-com-or-outlook-on-the-web-cff1429c-5af6-41ec-a5b4-74f2c278e98c#:~:text=Select%20Upload%20from%20file.,to%2C%20and%20then%20select%20Import." class="ml-auto text-blue-500 hover:text-blue-600 underline">Outlook</a>, <a href="https://support.apple.com/en-vn/guide/iphone/iph3d1110d4/ios#:~:text=Create%20an%20iCloud%20calendar%3A%20Tap,information)%2C%20then%20click%20Subscribe." class="ml-auto text-blue-500 hover:text-blue-600 underline">Apple</a> etc).
  <br/>
  <p class="text-gray-600">This will be updated as future timetable versions are released.</p>
  <% if flash[:alert] %>
    <div class="text-red-600">
    <br/>
    <p class="text-red-600"><%= flash[:alert] %></p>
    </div>
  <% end %>
  <%= form_with url: calendars_path, method: :post, local: true, data: { turbo: false }, class: "space-y-4 md:space-y-6" do |form| %>

    <div class="flex flex-col md:flex-row md:space-x-4">

      <div class="flex-1">
        <%= form.label :spreadsheet, 'Spreadsheet', class: "block text-md md:text-lg font-medium text-gray-800" %>
        <%= form.select :spreadsheet, @spreadsheet_options, { prompt: 'Select spreadsheet' }, id: "spreadsheet", class: "mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-base md:text-md" %>
      </div>

      <div class="flex-1">
        <%= form.label :pbl, 'PBL', class: "block text-md md:text-lg font-medium text-gray-800" %>
        <%= form.select :pbl, ('A'..'Q').to_a.map { |letter| [letter, letter] }, { prompt: 'Select PBL' }, id: "pbl", class: "mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-base md:text-md" %>
      </div>

      <div class="flex-1">
        <%= form.label :clin, 'CLIN', class: "block text-md md:text-lg font-medium text-gray-800" %>
        <%= form.select :clin, (1..20).to_a.map { |number| [number, number] }, { prompt: 'Select CLIN' }, id: "clin", class: "mt-1 block w-full py-2 px-3 border border-gray-200 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-base md:text-md" %>
      </div>
    </div>

    <div class="flex justify-center">
      <%= form.submit "Submit", class: "mt-3 w-full md:w-auto px-6 py-2 border border-transparent shadow-sm text-base md:text-md font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
    </div>

    <div class="flex items-center">
      <a href="mailto:c3438165@uon.edu.au?subject=I need help with my timetable" class="ml-auto text-blue-500 hover:text-blue-600">
        Need help?
      </a>
    </div>

  <% end %>
</div>
